{% extends "layout.html" %}
{% block title%}
<title>Add User</title>
{% endblock%}
{% block css%}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="/css/custom.css" rel="stylesheet"/> 
{% endblock%} 
{% block content%}
<div class="container-fluid">
    <div class="heading">
        <div class="row pb-4">
            <div class="col-md-8">
                
                    {% if messaged.length %}
                    <div class="alert alert-danger" role="alert" id="error-group" >
                        {{ messaged }}
                    </div>
                    {% elseif messagess.length %}
                    <div class="alert alert-success" role="alert" id="error-group" >
                        {{ messagess }}
                    </div>
                    {% endif %}
                    
                
            </div>
        </div>
        <h2 class="mb-2">Add Client</h2>
        <form action="/addclient" method="post" id="addClient" class="mt-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstName"><b>First Name<font color="#920000"> *</font> </b></label>
                        <input type="text" class="form-control" id="firstName" name="firstName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lastName"><b>Last Name<font color="#920000"> *</font> </b></label>
                        <input type="text" class="form-control"  id="lastName" name="lastName"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="username"><b>Email<font color="#920000"> *</font> </b></label>
                        <input type="email" class="form-control" id="username" name="username"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="password"><b>Password<font color="#920000"> *</font> </b></label>
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-circle blue" id="submit" name="submit">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock%} 
{% block js%}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
 <!-- bootbox code -->
<script type="text/javascript" src="js/bootbox.min.js"></script>
<script type="text/javascript" src="js/addClient.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            dateFormat: "dd/mm/yy"
        });
    });
</script>
{% endblock%}