{% extends "layout.html" %}
{% block title%}
    <title>Dashboard</title>
{% endblock%}
{% block css%}
    
{% endblock%} 
{% block content%}
    <div>
        <p>{{user.username}}</p>
    <p>{{user.firstName}}</p>
    </div>
    

{% endblock%} 