<!DOCTYPE html>
<html>

<head>
    <title>{{ message }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="/css/custom.css" rel="stylesheet"/>  -->
</head>
<body>
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</body>