{% extends "layout.html" %}
{% block title%}
<title>Add User</title>
{% endblock%}
{% block css%}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="/css/custom.css" rel="stylesheet"/> 
{% endblock%} 
{% block content%}
<div class="container-fluid">
    <div class="heading">
        <div class="row pb-4">
            <div class="col-md-8">
                    {% if message.length %}
                    <div class="alert alert-primary" role="alert" id="error-group" >
                        {{ message }}
                    </div>
                    {% endif %}
            </div>
        </div>
       
        <h2>Add User</h2>
        <form action="/" method="post" id="myform">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtname"><b>Name<font color="#920000"> *</font> </b></label>
                        <input type="text" class="form-control" name="txtname" id="txtname" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="username"><b>Email<font color="#920000"> *</font> </b></label>
                        <input type="email" class="form-control" name="username" id="username" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="password"><b>Password<font color="#920000"> *</font> </b></label>
                        <input type="password" class="form-control" name="password" id="password" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" id="submit" value="Submit" return false" id="button" class="btn color-brown btn-block " />
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock%} 
{% block js%}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
 <!-- bootbox code -->
<script type="text/javascript" src="js/bootbox.min.js"></script>
<script type="text/javascript" src="js/add_user.js"></script>
{% endblock%}