.ui-datepicker-trigger {
    position:absolute;
    top:40px;
    right:-10px;
}
.color-brown{
    background-color: #CD3F1B;
    color:white;
}
.list_data {
    counter-reset: rowNumber-1;
}
.list_data tr {
    counter-increment: rowNumber;
}
.list_data tr td:first-child +td::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
.colorpurple{
    background-color: #373F51;
}
.colorwhite{
    background-color: white;
}
.form-control:valid {
    background-color:  #DDE2ED!important;
  }
.login-form{
    padding:15px;
}
#myform label.error {
    display: inline;
    color: red;
  }
